@media (max-width: 768px) {
    .navbar {
        padding: 0; /* Зменшення відступів */
    }
    .navbar{
        max-height: 50vh ;/* Зменшена висота меню */
        overflow-y: auto; /* Додаємо прокручування, якщо контент перевищує висоту */
    }

    .navbar-nav .nav-item {
        padding: 8px 0; /* Зменшені відступи між пунктами меню */
    }
    .logo-img{
        width: 110px;
    }
}