<section class="relative md:py-24 py-16 mt-10 bg-[url('/assets/images/bg/bg2.png')] bg-center bg-no-repeat bg-cover">
  <div class="container">
    <div class="d-flex flex-col text-center items-center">
      <h1
        class="font-semibold text-4xl leading-normal mb-8 text-slate-400 mt-4 text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl">
        {{drone.DroneName}}</h1>

      <div class="card bg-transparent w-full max-w-md md:max-w-lg lg:max-w-xl">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-inner">
            <div [ngClass]="{ 'active': i==0 }" class="carousel-item" *ngFor="let image of drone.ImgDrones; index as i">
              <img src="../../../assets/images/drone/{{image}}" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>

      <div
        class="font-semibold text-2xl leading-normal mb-4 mt-10 text-center text-xl sm:text-xl md:text-2xl lg:text-3xl">
        <p class="text-slate-400 mt-4 text-center text-base sm:text-lg">
          {{drone.ProductDescription}}
        </p>
      </div>

      <h1 class="font-semibold text-2xl leading-normal mb-4 mt-10 text-xl sm:text-2xl md:text-3xl">Технічні
        характеристики</h1>
      <table class="mt-4 w-full max-w-lg text-center table-auto">
        <tr *ngFor="let attr of drone.Attributes | keyvalue:originalOrder">
          <th class="p-2 text-slate-400 text-sm md:text-base">{{attr.key}}</th>
          <td class="p-2 text-slate-500 text-sm md:text-base">{{attr.value}}</td>
        </tr>
      </table>

      <a href="#"
        class="h-10 px-6 mt-10 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-teal-500 text-white hover:bg-teal-600">Зробити
        замовлення <i class="mdi mdi-chevron-right align-middle ms-0.5"></i></a>

      <div class="font-semibold leading-normal mb-4 mt-10 text-center">
        <p class="text-slate-200 mt-4 text-left sm:text-xl">
          {{drone.CompanyProfile}} <br>
        </p>
        <p class="text-slate-200 mt-4 text-left sm:text-xl">
          {{drone.CompanyProfileName}} <br>
        </p>
        <p class="text-slate-200 mt-4 text-left sm:text-xl">
          {{drone.CompanyProfileText}}
        </p>
      </div>

      <button onclick="window.history.back()"
        class="h-10 px-6 mt-6 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-gray-500 text-white hover:bg-gray-600">
        Назад
      </button>
    </div>
  </div>
</section>
