#about {
  background-color: #1a202c;
  /* Темно-сірий фон */
}

h3 {
  color: #fff;
  /* Білий текст для заголовка */
}

p {
  color: #cbd5e0;
  /* Світло-сірий текст */
}

//   img {
//     border-radius: 10px; /* Закруглені краї зображення */
//     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Тінь */
//   }

@media (max-width: 768px) {
  img {
    display: none;
  }

  h3 {
    font-size: 2rem;
    /* Зменшуємо розмір тексту на мобільних пристроях */
  }

  p {
    font-size: 1rem;
  }
}
