<section class="relative md:py-24 py-16 bg-gray-900 dark:bg-slate-800" id="about">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-8">
      <!-- Відео -->
      <div class="md:col-span-6 mb-6 mb-md-0">
        <div class="relative w-full overflow-hidden rounded-lg aspect-w-16 aspect-h-9">
          <video class="w-full h-full object-cover rounded-lg shadow-lg" controls>
            <source src="../../../assets/video/Дрон.mov" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>

      <!-- Текстовий блок -->
      <div class="md:col-span-6">
        <div class="lg:ms-8 text-white">
          <h6 class="text-teal-500 text-sm font-semibold uppercase mb-2">Хто ми?</h6>
          <h3 class="font-semibold text-3xl leading-relaxed mb-4">
            Міліт Дрон - компанія, що займається створенням передових рішень у сфері виготовлення дронів та систем керування на оптоволокні. Наші рішення - це відповідь на виклики війни на теренах України, а тепер і Курщини!
          </h3>
      
          <ul class="list-disc list-inside text-slate-400 text-lg leading-relaxed mb-6 space-y-4">
            <li>
              Ми розробляємо інноваційні системи, що допомагають українським воїнам.
            </li>
            <li>
              Наші продукти відрізняються високою точністю, надійністю та здатністю працювати у складних умовах.
            </li>
            <li>
              Ми прагнемо створювати передові технології, що відповідають найвищим стандартам безпеки.
            </li>
          </ul>
      
          <!-- Кнопка (опціонально) -->
          <a href="#" class="inline-flex items-center justify-center px-6 py-2.5 mb-7 bg-teal-500 text-white rounded-md font-medium hover:bg-teal-600 transition">
            Дізнатись більше
            <i class="mdi mdi-chevron-right align-middle ms-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
