<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">
    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container relative text-center">
            <div class="grid lg:grid-cols-12 md:grid-cols-3 grid-cols-1 items-center">
                <div class="lg:col-span-3 md:text-start text-center">
                    <a href="#" class="text-[22px] focus:outline-none">
                        <img src="assets/images/militdrone.svg" class="mx-auto md:me-auto md:ms-0 img-h" alt="">
                    </a>
                </div>

                <div class="lg:col-span-5 text-center mt-6 md:mt-0">
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Міліт Дрон<i class="mdi mdi-heart text-red-600"></i></p>
                </div>

                <ul class="lg:col-span-4 list-none md:text-end text-center mt-6 md:mt-0">
                    <li class="inline"><a href="#" target="_blank" class="size-8 inline-flex justify-center items-center border border-gray-800 rounded-md hover:border-teal-500 dark:hover:border-teal-500 hover:bg-teal-500 dark:hover:bg-teal-500"><i-feather name="linkedin" class="size-4 align-middle" title="Linkedin"></i-feather></a></li>
                    <li class="inline"><a href="#" target="_blank" class="size-8 inline-flex justify-center items-center border border-gray-800 rounded-md hover:border-teal-500 dark:hover:border-teal-500 hover:bg-teal-500 dark:hover:bg-teal-500"><i-feather name="facebook" class="size-4 align-middle" title="facebook"></i-feather></a></li>
                    <li class="inline"><a href="#" target="_blank" class="size-8 inline-flex justify-center items-center border border-gray-800 rounded-md hover:border-teal-500 dark:hover:border-teal-500 hover:bg-teal-500 dark:hover:bg-teal-500"><i-feather name="instagram" class="size-4 align-middle" title="instagram"></i-feather></a></li>
                    <li class="inline"><a href="mailto:support@shreethemes.in" class="size-8 inline-flex justify-center items-center border border-gray-800 rounded-md hover:border-teal-500 dark:hover:border-teal-500 hover:bg-teal-500 dark:hover:bg-teal-500"><i-feather name="mail" class="size-4 align-middle" title="email"></i-feather></a></li>
                </ul><!--end icon-->
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer>
