@media (max-width: 768px) {
  .py-36 {
    padding-bottom: 0px !important;
  }
  .mr{
    margin-top: 0px !important;
  }
.pad{
  padding: 10px;
}
}


.inline-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #14b8a6; /* Тілова кнопка */
  color: #fff;
  padding: 0.625rem 1.5rem; /* Відступи */
  border-radius: 0.375rem; /* Закруглені краї */
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.inline-flex:hover {
  background-color: #0d9488; /* Темніший відтінок при наведенні */
}
