<section class="relative md:py-24 py-16" id="product">
  <div class="container relative">
    <div class="grid grid-cols-1 pb-6 text-center pb">
      <h3 class="font-semibold text-2xl leading-normal mb-4">Наші продукти</h3>
      <!-- <p class="text-slate-400 max-w-xl mx-auto">Система керування на оптоволокні</p> -->
    </div>

    <div class="grid md:grid-cols-2 grid-cols-1 gap-6 mt-6 max-w-4xl mx-auto">
      <!-- Продукти відображаються по два в рядок на великих екранах -->
      <div class="p-6 bg-white dark:bg-slate-900 shadow rounded-md flex flex-col justify-between">
        <div class="img-container">
          <img src="assets/images/drone/IMG_6498.png" class="responsive-img" alt="Система керування на оптоволокні">
        </div>
        <div class="mt-6">
          <p class="text-slate-400 mt-4">Система керування на оптоволокні</p>
          <br>
          Довжина 10 км: 17 420 UAH <br>
          Довжина 15 км: 21 980 UAH
        </div>
        <!-- Кнопка "Більше" завжди внизу -->
        <div class="mt-4">
          <a href="/more-info/sustema_keryvanna" class="text-teal-500 inline-block">Більше <i class="mdi mdi-chevron-right align-middle"></i></a>
        </div>
      </div>

      <div class="p-6 bg-white dark:bg-slate-900 shadow rounded-md flex flex-col justify-between">
        <div class="img-container">
          <img src="assets/images/drone/IMG_6500.png" class="responsive-img" alt="Десятидюймовий дрон">
        </div>
        <div class="mt-6">
          <p class="text-slate-400 mt-4">Десятидюймовий дрон створений для системи керування на 10 км</p>
          Ціна: 16 000 UAH
        </div>
        <!-- Кнопка "Більше" завжди внизу -->
        <div class="mt-4">
          <a href="/more-info/fpv_dron_10" class="text-teal-500 inline-block">Більше <i class="mdi mdi-chevron-right align-middle"></i></a>
        </div>
      </div>

      <div class="p-6 bg-white dark:bg-slate-900 shadow rounded-md flex flex-col justify-between">
        <div class="img-container">
          <img src="assets/images/drone/IMG_6502.png" class="responsive-img" alt="13-тидюймовий дрон">
        </div>
        <div class="mt-6">
          <p class="text-slate-400 mt-4">13-тидюймовий дрон створений для системи керування на 15 км</p>
          Ціна: 31 900 UAH
        </div>
        <!-- Кнопка "Більше" завжди внизу -->
        <div class="mt-4">
          <a href="/more-info/fpv_dron_13" class="text-teal-500 inline-block">Більше <i class="mdi mdi-chevron-right align-middle"></i></a>
        </div>
      </div>

      <div class="p-6 bg-white dark:bg-slate-900 shadow rounded-md flex flex-col justify-between">
        <div class="img-container">
          <img src="assets/images/drone/100WDigitalmodulation.png" class="responsive-img" alt="Наземна станція">
        </div>
        <div class="mt-6">
          <p class="text-slate-400 mt-4">Наземна станція</p>
          <span>Ціна: 4170 UAH</span>
        </div>
        <!-- Кнопка "Більше" завжди внизу -->
        <div class="mt-4">
          <a href="/more-info/nazemna_stancia" class="text-teal-500 inline-block">Більше <i class="mdi mdi-chevron-right align-middle"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!--end container-->
</section>
